<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Check tour Email</title>
	<link rel="stylesheet" type="text/css" href="../css/check-email.css">
</head>
<body>
	<div class = 'container'>
		<div><p>Account created successfully. Check your email to confirm your account.</p></div>
		<div class ='icon'>✉️</div>
	</div>
</body>
</html>
