<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reset Password</title>
</head>

<body>
	<h2>Enter you email:</h2>
	<form action="" method="post">
		<label for="email">Email</label>
		<input type="email" name="email" id="email">
		<br>
		<input type="submit" value="Submit">
	</form>
</body>

</html>