<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Index</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
	<div class="index">
		<div class="header">
			<div class="small_header">Welcome to</div> Fancy To Do! ✨
		</div>
		<div class="buttons">
			<button onclick="window.location.href = '/users/sign-in'" type="button" class="button">Sign In</button>
			<button onclick="window.location.href = '/users/sign-up'" type="button" class="button">Sign Up</button>
		</div>
	</div>
</body>

</html>