<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Index</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
	<h1>Welcome to Fancy To-Do! ✨</h1>
	<div>
		<button onclick="window.location.href = '/users/sign-in'" type="button">Sign In</button>
		<button onclick="window.location.href = '/users/sign-up'" type="button">Sign Up</button>
	</div>
</body>

</html>