<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reset Password</title>
	<link rel="stylesheet" type="text/css" href="../../css/card.css">
	<link rel="stylesheet" type="text/css" href="../../css/reset-password.css">
</head>

<body>
	<div class="container">
		<form method="post">
			<h1>Reset Password <sub>🔒</sub></h1>
			<br>
			<div class="field">
				<label for="password">Passwrod</label>
				<input type="password" name="password" id="password" placeholder="Password">
			</div>
			<div class="field">
				<label for="password">Confirm Passwrod</label>
				<input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
			</div>
			<input type="submit" value="Reset" class="button">
		</form>
	</div>
</body>

</html>
