<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign In</title>
	<link rel="stylesheet" type="text/css" href="../css/card.css">
	<link rel="stylesheet" type="text/css" href="../css/sign-in.css">
</head>

<body>
	<div class="container">
		<form method="post">
			<h1>Sign In <sub>✨</sub></h1>
			<br>
			<div class="field">
				<label for="email"> Email </label>
				<input type="email" name="u_email" id="email" placeholder="Email">
			</div>
			<div class="field">
				<label for="password"> Password </label>
				<input type="password" name="u_password" id="password" placeholder="Passsword" class="pass">
			</div>
			<input type="submit" value="Sign in" class="button">
			<p><a href="/users/forgot-password">Forgot password?</a></p>
		</form>
	</div>
</body>

</html>
