<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign In</title>
	<link rel="stylesheet" type="text/css" href="../css/sign-in.css">
</head>

<body>
	<form method="post">
		<h1>Sign In</h1>
		<div class="field">
			<label for="email"> <b> Email </b> </label>
			<input type="email" name="u_email" id="email" placeholder="Email">
		</div>
		<div class="field">
			<label for="password"> <b> Password </b> </label>
			<input type="password" name="u_password" id="password" placeholder="Passsword" class="pass">
		</div>
		<input type="submit" value="Sign in" class="button">
	</form>
	<p><a href="/users/forgot-password">Forgot password?</a></p>
</body>

</html>