* {
	color: rgb(23, 23, 23);
	font-family: sans-serif;
}

.sign-in {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 8%;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-right: 7%;
	padding-left: 7%;
	padding-bottom: 2%;
	border-radius: 5%;
	background-color: #fffcf5;
	box-shadow: 15px 15px 35px rgb(199, 199, 199);
}

.sign-in h1 {
	font-size: 50px;
	font-weight: 600;
	margin-bottom: 30px;
	margin-right: auto;
}

.field {
	height: 40px;
	width: 450px;
}

.field label {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 10px;
	margin-right: auto;
}

.field input {
	height: 70%;
	width: 50%;
	margin-left: 3%;
	float: right;
	border-radius: 5px;
	border: 1px solid rgb(23, 23, 23);
	padding-left: 10px;
	background-color: rgb(245, 245, 245);
	font-family: Times
}

.button {
	background-color: #3B3B3B;
	color: #fffcf5;
	height: 40px;
	width: 200px;
	font-size: larger;
	font-weight: 600;
	margin-top: 40px;
	border: none;
	border-radius: 10px;
	transition: 0.6s;
}

.button:hover {
	background-color: #1C1C1C;
	color: #FFE002;
	cursor: pointer;
	letter-spacing: 4px;
}